.product-list-title{
margin: 20px;
text-align: center;
}
.filter-container{
display: flex;
justify-content: space-between;
}
.product-list-filter{
margin: 20px;
}

.filter-span{
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
}

.filter-select{
padding: 10px;
margin: 20px;
}

@media only screen and (max-width:380px) {
    .product-list-filter{
        width: 0px 20px;
        display: flex;
        flex-direction: column;
    }
    .filter-span{
        margin-right: 0;
    }
    .filter-select{
        margin: 10px 0;
    }

}