.navbar-container {
    height: 60px;

}

.navbar-wrapper {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.navbar-lang {
    font-size: 14px;
    cursor: pointer;
}

.nav-search {
    border: 0.5px solid lightgray;
    display: flex;
    align-items: center;
    margin-left: 25px;
    padding: 5px;
}

.nav-input {
    border: none;

}

.navbar-center {
    flex: 1;
    text-align: center;
}

.nav-logo {
    font-weight: bold;
}

.navbar-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-menu {
    font-size: 14px;
    cursor: pointer;
    margin-left: 25px;
}

@media only screen and (max-width:380px) {
    .navbar-container{
        height: 50px;
    }
    .navbar-wrapper{
        padding: 10px 0px;
    }
    .navbar-lang{
        display: none;
    }
    .nav-input{
        width: 50px;
    }
    .nav-logo{
        font-size: 24px;
    }
    .navbar-right{
        flex: 2;
        justify-content: center;
    }
    .nav-menu{
        font-size: 12px;
        margin-left: 10px;
    }
}