.product-container{
    flex: 1;
    margin: 5px;
    min-width: 280px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    position: relative;
}


.product-circle{
    width: 200px;
    height: 200;
    border-radius: 50%;
    background-color: white;
    position: absolute;
}

.product-img{
    height: 75%;
    z-index: 2;
}

.product-info{
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.2);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    cursor: pointer;
}
.product-container:hover .product-info{
    opacity: 1;

}

.product-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.product-icon:hover{
    background-color: rgb(215, 215, 215);
    transform: scale(1.1);
}